.header-main-container{
    display: flex;
    justify-content: space-between;
    background-color: #216021;
    color: #fff;
    padding: 15px 30px;
    height: 10vh
}
.header-right-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.header-right-container li:hover{
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 5px;
}